################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SprayProcessSCADASystemOnWinform/.vs/SprayProcessSCADASystemOnWinform/FileContentIndex/e7da2d41-7a76-4b36-98c3-a4780adf9e51.vsidx
/SprayProcessSCADASystemOnWinform/.vs/SprayProcessSCADASystemOnWinform/FileContentIndex/ee7551d9-a172-4faf-ba4c-b3adc37d83f2.vsidx
